* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family:'nanumfont';
  src: url('fonts/NanumSquare') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;  
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/DiceBackground.jpg");
  background-size: cover;
}

.mainBox { 
  display: flex;
  background-color: #D9D9D9;
  border-radius: 30px;
  padding: 40px 32px;
  width: 720px;
  max-width: 90%;
  gap: 24px;
}

.auth-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  width: 100%;
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.input-field {
  width: 90%;
  padding: 8px 13px;
  border: none;
  border-radius: 9999px;
  background-color: #B5B5B5;
  font-size: 20px;
  color: #7C7C7C;
  outline: none;
}

.btn-sign {
  width: 30%;
  padding: 3px;
  border: none;
  border-radius: 9999px;
  margin-top: auto;
  background-color: #638FFF;
  font-size: 20px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #4A6ED1;
    transform: scale(1.025);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #4ad16e;
    transform: scale(0.975);
  }
}

.divider {
  width: 2px;
  background-color: #638FFF;
  border-radius: 2px;
}
